@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://use.typekit.net/ctk6rwy.css");

@import 'node_modules/bootstrap/scss/bootstrap-grid';

// Colors
$dark-green: #3C4B19;
$medium-green: #84a145;
$light-green: rgba(153, 200, 46, 0.549);
$form-green: #a3cd44;
$form-gray: #f3f3f3;


// Sizes (width, height, margins, paddings)
$nav-height: 40px;

$shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);

$w-main-content: 872px;
$h-main-content: 510px;
$mt-main-content: 47px;

$w-product-content: 33.33%;
$pt-product-content: 81px;

$w-form-content: 67.77%;
$pt-form-content: 46px;
$pl-form-content: 90px;
$pr-form-content: 90px;

// GLOBAL STYLES

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; // Semi-bold
    background-image: url('assets/Background.png');
}

nav {
    height: $nav-height;
    background: $dark-green;
}

// COMPONENT SPECIFIC STYLES

#bar {
    background-color: $dark-green;
    height: $nav-height;
    width: 100vw;
}

#main-content {
    height: $h-main-content;
    max-width: $w-main-content;
    margin-top: $mt-main-content;
}

#product-content {
    width: $w-product-content;
    height: 100%;
    padding-top: $pt-product-content;

    background: $light-green;
    border-radius: 10px 0px 0px 10px;
    box-shadow: $shadow;

    text-align: center;
}

#form-content {
    width: $w-form-content;
    height: 100%;

    padding-left: $pl-form-content;
    padding-top: $pt-form-content;
    padding-right: $pr-form-content;

    background: white;
    border-radius: 0px 10px 10px 0px;
    box-shadow: $shadow;

    h1 {
        font-weight: 600;
        font-size: 28px;
    }
    
    h2 {
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
    
        opacity: 0.7;
        margin-bottom: 20px;
    }

    #img-badge {
        img {
            position: absolute;
            width: 75px;
            top: -30px;
            left: -30px;
        }
    }

    form {
        color: #767676 !important;
        .form-control {
            background-color: $form-gray;
            box-shadow: 0px 2px 3px inset rgba(0, 0, 0, 0.11);

            &:valid {
                border: 1px solid $form-green;
            }

        }

        .form-group {
            margin-bottom: 1.25rem;
        }

        .is-valid {
            border: 1px solid $form-green;
        }

        .form-check-label {
            font-size: 14px;
        }
    
        .custom-control-label {
            font-size: 14px;
            font-weight: 600;
            vertical-align: middle;
            color: #767676;
    
            &::before {
                width: 20px;
                height: 20px;
                top: unset;
    
                background: #e1e1e1 linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                border: 1px solid rgba(206, 206, 206, 0.702);
            }
        }

        .custom-radio {
            margin-left: 28px;
        }
    
        .custom-control-input:checked~.custom-control-label::before {
            color: transparent;
            border-color: $medium-green;
            background-color: $form-green;
        }
    
        .form-control:focus,
        .custom-control-input:focus:not(:checked)~.custom-control-label::before {
            border-color: $form-gray;
        }
    
        .form-control:focus,
        .custom-control-input:focus~.custom-control-label::before {
            box-shadow: 0 0 0 0.2rem #cececeb3 !important;
        }
    
        .custom-control-input:not(:disabled):active~.custom-control-label::before {
            background-color: $form-green;
            border-color: $medium-green;
        }
    
        .custom-radio .custom-control-input:checked~.custom-control-label::after,
        .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
            background: none;
        }
    }

    button {
        text-align: center;
        width: 100%;
        height: 70px;

        background: $medium-green;
        color: white;

        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.06em;

        border: 4px outset $light-green;
        border-radius: 10px;
        text-shadow: 2px 2px rgba(0,0,0,0.08);
        margin-top: 0.25rem;

        .material-icons {
            width: 0;
            margin-left: -10px;
            font-size: 48px;
            line-height: 34px;
            vertical-align: middle;
        }
    }


}

#footer-content {
    margin: 0 auto;
    max-width: 870px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    opacity: 0.7;

    #privacy-terms {
        font-size: 14px;
        font-family: myriad-pro, sans-serif;
    }
}

// BREAKPOINT STYLES

@include media-breakpoint-down(sm) {
    .rounded-sm-0 {
        border-radius: 0 !important;
    }

    #main-content,
    #product-content,
    #form-content {
        width: unset;
        height: unset;
        padding: unset;
        margin: unset;
    }

    #product-content,
    #form-content {
        padding: 3rem 1rem;
        // box-shadow: none;
    }

    #product-content {
        img {
            max-height: 20vh;
        }
    }

    #img-badge {
        width: 100%;
        position: absolute;
        top: -30px;
        left: 0;

        text-align: center;

        img {
            position: unset !important;
            top: unset !important;
            left: unset !important;
        }

    }

    #footer-content {
        padding: 0.75rem 1rem;
    }
}