@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'node_modules/bootstrap/scss/bootstrap-grid';

// Colors
$dark-green: #3C4B19;
$medium-green: #84a145;
$light-green: #99c82e8c;
$form-green: #a3cd44;
$form-gray: #f3f3f3;


// Sizes (width, height, margins, paddings)
$nav-height: 40px;

$shadow: 4px 4px 8px rgba(0,0,0,0.25);

$w-main-content: 872px;
$h-main-content: 510px;
$mt-main-content: 47px;


$w-product-content: 33.33%;
$pt-product-content: 81px;

$w-form-content: 67.77%;
$pt-form-content: 46px;
$pl-form-content: 87px;
$pr-form-content: 90px;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-image: url('assets/Background.png');
}

nav {
    height: $nav-height;
    background: $dark-green;
}

h1 {
    font-weight: 600;
    font-size: 28px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;

    opacity: 0.7;
    margin-bottom: 20px;
}

#bar {
    background-color: $dark-green;
    height: $nav-height;
    width: 100vw;
}

#main-content {
    height: $h-main-content;
    max-width: $w-main-content;
    margin-top: $mt-main-content;
}

#product-content {
    width: $w-product-content;
    height: 100%;
    padding-top: $pt-product-content;

    background: $light-green;
    border-radius: 10px 0px 0px 10px;
    box-shadow: $shadow;

    text-align: center;
}

#form-content {
    width: $w-form-content;
    height: 100%;

    padding-left: $pl-form-content;
    padding-top: $pt-form-content;
    padding-right: $pr-form-content;

    background: white;
    border-radius: 0px 10px 10px 0px;
    box-shadow: $shadow;
    
    #img-badge {
        img {
            position: absolute;
            width: 75px;
            top: -30px;
            left: -30px;
        }
    }
}

@include media-breakpoint-down(sm) { 
    .rounded-sm-0 {
        border-radius: 0 !important;
    }

    #main-content, #product-content, #form-content {
        width: unset;
        height: unset;
        padding: unset;
    }

    #product-content, #form-content {
        padding: 3rem 1rem;
    }

    #product-content{
        img {
            max-height: 20vh;
        }
    }

    #img-badge {
        width: 100%;
        position: absolute;
        top: -30px;
        left: 0;

        text-align: center;

        img {
            position: unset !important;
            top: unset !important;
            left: unset !important;
        }
        
    }
}



